<p id="notice"><%= notice %></p>

<h1>My Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Sport sections</th>
      <th>Expire date</th>
      <th>Visits remaining</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td>
          <% ticket.sport_sections.to_a.each do |section| %>
            <%= ticket.sport_sections.to_a.last != section ? section.name + ',' : section.name %>
          <% end %>
        </td>
        <td><%= ticket.expire_date %></td>
        <td><%= ticket.visits_remaining %></td>
        <td><%= ticket.cost %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Destroy', TicketsUser.find_by(ticket_id: ticket.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= button_to 'Unsubscribe', {controller: 'tickets_users', action: 'destroy',  
              id: TicketsUser.find_by(ticket_id: ticket.id, user_id: current_user.id)}, method: :delete %>              
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tickets %>

<br>
