<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Sport sections</th>
      <th>
        <% if @order == 'expire_date' %>
          <%= link_to "Expire date\u2193", controller: 'tickets', action: 'index' %>
        <% else %>
          <%= link_to 'Expire date', controller: 'tickets', action: 'index', order: :expire_date %>
        <% end %>
      </th>
      <th>
        <% if @order == 'visits_remaining' %>
          <%= link_to "Visits\u2713", controller: 'tickets', action: 'index' %>
        <% else %>
          <%= link_to 'Visits', controller: 'tickets', action: 'index', order: :visits_remaining %>
        <% end %>
      </th>
      <th>
        <% if @order == 'cost' %>
          <%= link_to "Cost\u2713", controller: 'tickets', action: 'index' %>
        <% else %>
          <%= link_to 'Cost', controller: 'tickets', action: 'index', order: :cost %>
        <% end %>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td>
          <% ticket.sport_sections.to_a.each do |section| %>
            <%= ticket.sport_sections.to_a.last != section ? section.name + ',' : section.name %>
          <% end %>
        </td>
        <td><%= ticket.expire_date %></td>
        <td><%= ticket.visits_remaining %></td>
        <td><%= ticket.cost %></td>
        <td><%= link_to 'Show', ticket %></td>
        <% if current_user.owner? and TicketsUser.where(ticket_id: ticket.id, user_id: current_user.id).count > 0 %>
          <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
          <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if current_user.user? and ticket.expire_date > Date.today %>
          <td><%= button_to 'Subscribe', controller: 'tickets_users', action: 'create', id: ticket.id %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tickets %>

<br>

<% if current_user.owner? %>
  <%= link_to 'New Ticket', new_ticket_path %>
<% end %>
