<p id="notice"><%= notice %></p>

<p>
  <strong>Sport sections:</strong>
  <% @ticket.sport_sections.to_a.each do |section| %>
    <%= @ticket.sport_sections.to_a.last != section ? section.name + ',' : section.name %>
  <% end %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @ticket.expire_date %>
</p>

<p>
  <strong>Visits remaining:</strong>
  <%= @ticket.visits_remaining %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @ticket.cost %>
</p>

<%= render partial: "comments/template", locals: {commentable: @ticket, new_comment: @comment} %>

<% if current_user.owner? and TicketsUser.where(ticket_id: @ticket.id, user_id: current_user.id).count > 0 %>
  <%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<% end %>
<%= link_to 'Back', tickets_path %>
